@import './src/style/default.scss';

:host{
  
  .title-menu{
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    h3{
      font-size: $font-size-5;
      font-weight: 500;
    }

    a{
      display: inline-block;
      box-sizing: border-box;
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      border-radius: 100%;
      border: 2px solid $grey-color;
      color: $white-color;

      svg, path{
        width: 16px;
        height: 16px;
      }
      
      &:hover{
        background-color: $grey-color;
      }

      &:active{
        background-color: $black-color;
      }
    }

    .menu a:first-child{
      margin-right: 8px;
    }
  }

  .horizontal-list{
    display: flex;
    gap: 2vw;
    overflow: auto;
    scroll-behavior:auto;

    &::-webkit-scrollbar {
      display: none;
    }
  
    .list-item{
      position: relative;
    
      img{
        display: block;
        border-radius: 16px;
        object-fit: cover;
        width: 136px;
        height: 100%;
        filter: brightness(0.7);

        &:hover{
          filter: brightness(1);
        }
      }
    
      .deskripsi{
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);

        p{
          margin: 0;
        }
      }
    }
  }
}