@import './src/style/default.scss';

.horizontal-menu{
  margin-bottom: 24px;
  
  .active{
    color: $white-color;
    font-weight: 600;
  }
  
  a{
    color: $grey-color;
    text-decoration: none;
  }
  & :first-of-type{
    margin-right: 8px;
  }
  & a:not(:first-of-type){
    margin: 8px;
  }
}