@import './src/style/default.scss';

.movie-list{
  margin-top: 64px;

  .title-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    h3{
      font-size: $font-size-5;
      font-weight: 500;
    }

    a{
      display: inline-block;
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      border-radius: 100%;
      border: 2px solid $grey-color;
      color: $white-color;
    }

    .menu a:first-child{
      margin-right: 8px;
    }
  }

  .horizontal-list{
    display: flex;
    gap: 2vw;
    overflow: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  
    .list-item{
    
      img{
        display: block;
        border-radius: 16px;
        object-fit: cover;
        width: 136px;
      }
    
      .deskripsi{
        margin-top: 24px;
        width: 100%;
        text-align: center;

        p{
          margin: 0;
        }

        & p:nth-child(2){
          color: $grey-color;
        }

        .rating{
          margin-top: 4px;
          margin-bottom: 12px;
          font-size: $font-size-small;
          color: $yellow-color;
        }
      }
    }
  }
}