@import './src/style/default.scss';

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: $black-color;
}

::-webkit-scrollbar-thumb {
  background: $red-color;
  border-radius: 50rem;
}