/* ====== Color Variable ====== */
$primary-color: #191B1F;
$red-color: #D12F26;
$grey-color: #6F7788;
$white-color: #FFF;
$yellow-color: #E9CE36;
$black-color: #101113;
/* ====== End Of Color Variable ====== */

/* ====== Font ====== */
$font-size-1: 67px;
$font-size-2: 51px;
$font-size-3: 38px;
$font-size-4: 28px;
$font-size-5: 21px;
$font-size-6: 16px;
$font-size-small: 12px;
/* ====== End Of Font ====== */