/* ====== Color Variable ====== */
$primary-color: #191B1F;
$red-color: #D12F26;
$grey-color: #6F7788;
$white-color: #F5F9FF;

/* ====== End Of Color Variable ====== */

/* ====== Font ====== */

h1, .h1{
  font-size: 54px;
}

h2, .h2{
  font-size: 36px;
}

h3, .h3{
  font-size: 24px;
}

/* ====== End Of Font ====== */

body{
  font-size: 16;
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 48px;
}

.flex{
  display: flex;
}

.grow-1{
  flex-grow: 1;
}

.align-center{
  align-items: center;
}

.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 1rem;
}

.gap-4 {
  gap: 1.5rem;
}

.gap-5 {
  gap: 3rem;
}