@import './src/style/default.scss';

body, html{
  margin: 0;
  padding: 0;
}

body{
  font-size: 16px;
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $primary-color;
  color: $white-color;
  overflow-x: hidden;
}

.flex{
  display: flex;
}

.grow-1{
  flex-grow: 1;
}

hr{
  border: 1px solid rgba($color: $white-color, $alpha: 0.1);
  margin: 0;
}

body > .flex, footer > .container{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: $black-color;
}

::-webkit-scrollbar-thumb {
  background: $red-color;
  border-radius: 50rem;
}

// Small devices
@media (max-width: 576px) {

  .right-sidebar{
    display: block!important;
  }
  
  footer > .container{
    flex-direction: column;
    gap: 16px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .left-sidebar{
    display: none;
  }
  body > .flex{
    flex-direction: column;
  }
  .main-content{
    width: auto!important;
  }
  .right-sidebar{
    display: flex;
    justify-content: space-around;
    gap: 64px;
    margin-bottom: 64px;
  }
  search-field{
    display: none;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {}