@import './src/style/default.scss';

body, html{
  margin: 0;
  padding: 0;
}

body{
  font-size: 16px;
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $primary-color;
  color: $white-color;
}

.flex{
  display: flex;
}

.grow-1{
  flex-grow: 1;
}

hr{
  border: 1px solid rgba($color: $white-color, $alpha: 0.1)
}